
<% include ./partials/header %>

<div class="container">

  <h1 class="title">Login</h1>
    <form action="/login" method="POST">
      <div class="form-group text-white">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="username help" placeholder="Enter User Name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <button class="btn btn-primary">Login</button>
    </form> 
</div>
<% include ./partials/footer %>

