
<% include ../partials/header %>

<div class = "text-center">
    <header class = "jumbotron">
        <h1>Welcome to YelpCamp</h1>
        <p>Find the perfect campground for your next get away!</p>
        <br>
        <p>Do you know of a great spot? let us know!</p> 
        <p><a class="btn btn-lg btn-info" href="/campgrounds/new">Add New Campground!</a></p>
    </header>    
</div>        
    <div class ="row">
        <div class="col=lg-12 mx-auto">
            <h3>Our most popular campgrounds</h3>
        </div>
        
    </div>
    
    <div class="container row mx-auto">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-12">
                <div class="card mx-auto img-thumbnail text-center" >
                  <img class="card-img-top" src= "<%= campground.image %>" alt="Campground">
                  <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                  </div>
                  <p>
                      <a href="/campgrounds/<%= campground._id %>" class="btn btn-block btn-secondary"> More Info </a> 
                  </p>
                </div>
            </div>    
        <% }); %>
    </div>
<nav class= "navbar fixed-bottom navbar-dark br-dark"> <p class= "text-center text-white mx-auto" id="footer">&copy; 2018  Created by Doug A Carter</p> </nav>
<% include ../partials/footer %>