body{
    background-color: #1B1D2F;
    overflow-x: hidden;
 
}

.card {
    margin-bottom: 120px;
}

.navbar-dark .navbar-brand{
    color: #E9E4D2;
    font-family: 'Sniglet', cursive;
}

#jumboText{
    color:#e29d4e;
}

.img-thumbnail img{
    width:100%;
}

.img-thumbnail .caption-full{
    padding: 9px;
}

.title{
    color: #46acec;
}

.delete-form{
    display: inline;
}

.form-width {
    max-width: 500px;
    margin-top: 250px;
}